{%extends "register/base.html"%}

{%block content%}

<table class="table table-borderless">
    <thead class="border-bottom" style="font-weight: bold;">
        <tr>
            <td>Full Name</td>
            <td>Emp. Code</td>
            <td>Position</td>
            <td>
                <a href="{%url 'insert'%}" class="btn btn-outline-success">
                    <i class="fa fa-plus">Add New</i>
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {%for employee in employee_list%}
        <tr>
            <td>{{employee.fullname}}</td>
            <td>{{employee.emp_code}}</td>
            <td>{{employee.position}}</td>
            <td>
                <a href="{%url 'update' employee.id%}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{%endblock content%}